.login-wrapper {
    padding: 30px;
}
.back-wrapper {
     color: var(--primary);
     margin-bottom: 30px;
     font-size: 24px;
}
.login-content h1 {
    color: var(--primary);
    font-size: 22px;
    margin-bottom: 60px;
    font-weight: 600;
}
.login-content a {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
    color: #BBBFC3;
    text-decoration: underline;
}
.login-content .btn {
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .login-wrapper {
        width: 60%;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;
        border-radius: 8px;
        padding: 45px;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        position: absolute;
    }
    .login-content {
        width: 50%;
        margin: 0 auto;
    }
    .login-content input, .login-content select, .login-content .bar {
        width: 100%;
    }
}